<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/style.css" rel="stylesheet" > 
    <link href="/assets/css/photoswipe.css" rel="stylesheet" >
    <link href="/assets/css/photoswipe-dynamic-caption-plugin.css" rel="stylesheet" >
    <link href="/assets/css/code.css" rel="stylesheet">
    <title>{{ title }}</title> 
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8QDN3L0E9S"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

     gtag('config', 'G-8QDN3L0E9S');
    </script>
  </head>
  <body>

    <main>
      {% block content %}
      <article style="padding-top: 7rem;">
       <h1>{{ title }}</h1>
       <hr>
        {{ content | safe }} 
      </article>
      {% endblock %}       
    </main>

     <footer>
      {% include "partials/_footer.njk" %}
    </footer>

    <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>